<!doptype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:include="/fragments/header :: header"></div>
<body>
<div th:include="/fragments/nav :: nav"></div>
    <a class="btn btn-primary" href="/project/create" role="button">Create New Project</a>
    <div class="list-group">
        <th:block th:each="project : ${projects}">
            <a th:href="@{/project/{id}/detail(id=${project.id})}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${project.title}"></h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1"></p>
                <small>And some small print.</small>
            </a>
        </th:block>
    </div>
 </body>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/app.js"></script>
</html>